.card-login {
  margin: 10% auto auto;
  min-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.49) 1px 1px 5px;
}

.block-logo {
  margin: auto;
}

.cam_logo {
  width: 160px;
  height: auto;
}

.login-form {
  width: 100%;
}

.login-form-button {
  width: 100%;
  background-color: var(--actif-nav-background-color);
  border: none;
}

