.card-login {
  margin: auto;
  top:10%;
  min-height: 400px;
}

.card-content {
  display: flex;
}

.cam_logo {
  width: 50%;
  height: auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
