/* You can add global styles to this file, and also import other style files */
:root {
  --actif-nav-background-color: #015383;
  --inactif-nav-background-color: #F6F7FB;
  --text-inactif-nav: #015383;
  --text-actif-nav: white;
}

html, body { height: 100%; margin: 0; padding: 0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 580px;
}

a {
  text-decoration: none!important;
}
